.btn-group.btn-group-lg(role="group" aria-label="Basic example")
  button.btn.btn-secondary(type="button") This
  button.btn.btn-secondary(type="button") is
  button.btn.btn-secondary(type="button") partial!
