extends /layout/_default-layout

prepend config-block
  - page_name = 'sub sample1'

//- append stylesheet-block

//- append javascript-block

block content-block
  h1 サブディレクトリ サンプル
  p
    | #{local.content}

  h2.mt-3 パーシャル サンプル
  p パーシャルを利用することも可能です。
  .wrapper
    p.row
      include /partials/_buttons
    p.row
      include /partials/_buttons
    p.row
      include /partials/_buttons
